<style>
    body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 70vh;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 500px;
      height: 400px;
    }
</style>
<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {{#each photos}}
            <img src="{{imageURL}}" alt="" class="swiper-slide">
        {{/each}}
    </div>
    
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
</div>
   
